<ion-header>
    <ion-navbar>
        <ion-title>Advance call</ion-title>
    </ion-navbar>
</ion-header>

<form [formGroup]="surveyForms" (ngSubmit)="onSubmit()" style="height: 100%;">

    <ion-content>
        <br><br><br>
        <ion-scroll padding scrollY="true">

            <div *ngIf="isDisplayCFSDetails">
                <label class="title">How's my team:</label><br>
                <label class="title">Technician observer form</label><br><br>
                <label class="label-title">CFS Details</label>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Observer name</ion-label>
                    <ion-input type="text" class="input-text" formControlName="observerName"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Observer ID no</ion-label>
                    <ion-input type="text" class="input-text" formControlName="observerID"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Date of observation</ion-label>
                    <ion-datetime type="text" class="input-text" formControlName="dateOfObservation"></ion-datetime>
                    <ion-icon ios="md-calendar" md="md-calendar" item-right no-padding></ion-icon>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Contractor</ion-label>
                    <ion-select formControlName="contractor">
                        <ion-option value="ADFLIX">ADFLIX</ion-option>
                        <ion-option value="ADONAI">ADONAI</ion-option>
                        <ion-option value="CHRISBEL">CHRISBEL</ion-option>
                        <ion-option value="DUBLIN">DUBLIN</ion-option>
                        <ion-option value="EDGECOMM">EDGECOMM</ion-option>
                        <ion-option value="EMVIEM">EMVIEM</ion-option>
                        <ion-option value="GOLDLINK">GOLDLINK</ion-option>
                        <ion-option value="JAM">JAM</ion-option>
                        <ion-option value="JASS">JASS</ion-option>
                        <ion-option value="LEVINSON">LEVINSON</ion-option>
                        <ion-option value="M-FORTUNE">M-FORTUNE</ion-option>
                        <ion-option value="MG EXEO">MG EXEO</ion-option>
                        <ion-option value="NG KHAI">NG KHAI</ion-option>
                        <ion-option value="PHILKO UBINS">PHILKO UBINS</ion-option>
                        <ion-option value="SMSP">SMSP</ion-option>
                        <ion-option value="TESCO">TESCO</ion-option>
                        <ion-option value="TRANSBIO">TRANSBIO</ion-option>
                        <ion-option value="VISATECH">VISATECH</ion-option>
                        <ion-option value="Others">Others</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Region</ion-label>
                    <ion-select formControlName="region">
                        <ion-option value="NCL">NCL</ion-option>
                        <ion-option value="NGM">NGM</ion-option>
                        <ion-option value="SGMA">SGMA</ion-option>
                        <ion-option value="South Luzon">South Luzon</ion-option>
                        <ion-option value="Visayas">Visayas</ion-option>
                        <ion-option value="Mindanao">Mindanao</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Fo Area Head</ion-label>
                    <ion-select formControlName="foAreaHead">
                        <ion-option value="BARANDA,JOSELITO">BARANDA, JOSELITO</ion-option>
                        <ion-option value="BASILIO,RODOLFO">BASILIO, RODOLFO</ion-option>
                        <ion-option value="BORCENA,NELSON">BORCENA, NELSON</ion-option>
                        <ion-option value="CASTILLO,RICHARD">CASTILLO, RICHARD</ion-option>
                        <ion-option value="CORNELIO,RICO">CORNELIO, RICO</ion-option>
                        <ion-option value="Cruz,LloydSherwin">Cruz, Lloyd Sherwin</ion-option>
                        <ion-option value="GOLDDELROSARIO,DANTELINK">GOLDDEL ROSARIO, DANTELINK</ion-option>
                        <ion-option value="DEL ROSARIO, DANTE">DEL ROSARIO, DANTE</ion-option>
                        <ion-option value="ESTRADA, ARNEL">ESTRADA, ARNEL</ion-option>
                        <ion-option value="LEVINSON">LEVINSON</ion-option>
                        <ion-option value="FAJILAGUTAN, IAN">FAJILAGUTAN, IAN</ion-option>
                        <ion-option value="FAUNILLAN, ROMEO">FAUNILLAN, ROMEO</ion-option>
                        <ion-option value="GONZALES, JAIME">GONZALES, JAIME</ion-option>
                        <ion-option value="PHILKO UBINS">PHILKO UBINS</ion-option>
                        <ion-option value="IBARRA, JEFFREY">IBARRA, JEFFREY</ion-option>
                        <ion-option value="LINDAYAO, ROMMEL">LINDAYAO, ROMMEL</ion-option>
                        <ion-option value="LIWANAG, RONALDO">LIWANAG, RONALDO</ion-option>
                        <ion-option value="MAPANAO, ANTHONY GARTH">MAPANAO, ANTHONY GARTH</ion-option>
                        <ion-option value="MARQUEZ, IRVING">MARQUEZ, IRVING</ion-option>
                        <ion-option value="OLAES, ALBERT">OLAES, ALBERT</ion-option>
                        <ion-option value="OSORIO, CRISTOPHER">OSORIO, CRISTOPHER</ion-option>
                        <ion-option value="ROJAS, MATIAS JR.">ROJAS, MATIAS JR.</ion-option>
                        <ion-option value="ROSALES, NELSON">ROSALES, NELSON</ion-option>
                        <ion-option value="TABORADA, GEROME">TABORADA, GEROME</ion-option>
                        <ion-option value="TAMSE, JOHN ANTHONY">TAMSE, JOHN ANTHONY</ion-option>
                        <ion-option value="OTHER">OTHER</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Fo Team Leader</ion-label>
                    <ion-select formControlName="foTeamLeader">
                        <ion-option value="AGOZAR, ALLAN">AGOZAR, ALLAN</ion-option>
                        <ion-option value="ALANO, MICHAEL">ALANO, MICHAEL</ion-option>
                        <ion-option value="ALEJANDRO, LEMUEL">ALEJANDRO, LEMUEL</ion-option>
                        <ion-option value="AMORIN, MARLITO">AMORIN, MARLITO</ion-option>
                        <ion-option value="AMULONG, FRANCISCO">AMULONG, FRANCISCO</ion-option>
                        <ion-option value="BABASA, ALVIN">BABASA, ALVIN</ion-option>
                        <ion-option value="BAÑARES, LIZA">BAÑARES, LIZA</ion-option>
                        <ion-option value="BARDOS, RANEN">BARDOS, RANEN</ion-option>
                        <ion-option value="BOLTRON, ERNEZAR">BOLTRON, ERNEZAR</ion-option>
                        <ion-option value="BRAGAS, ELMER">BRAGAS, ELMER</ion-option>
                        <ion-option value="BRONOLA, JERALD ERL">BRONOLA, JERALD ERL</ion-option>
                        <ion-option value="CANDELARIO, REX">CANDELARIO, REX</ion-option>
                        <ion-option value="CARLOBOS, JOSELITO">CARLOBOS, JOSELITO</ion-option>
                        <ion-option value="CATAPANG, REYNALDO">CATAPANG, REYNALDO</ion-option>
                        <ion-option value="CELESTIAL, JASHER">CELESTIAL, JASHER</ion-option>
                        <ion-option value="CLAUDIO, JOSELITO">CLAUDIO, JOSELITO</ion-option>
                        <ion-option value="CONCEPCION, RUBEN">CONCEPCION, RUBEN</ion-option>
                        <ion-option value="COSTALES, CARLITO">COSTALES, CARLITO</ion-option>
                        <ion-option value="CRUZ, DENNIS A.">CRUZ, DENNIS A.</ion-option>
                        <ion-option value="CRUZ, DENNIS F.">CRUZ, DENNIS F.</ion-option>
                        <ion-option value="CUERQUIS, MANUEL">CUERQUIS, MANUEL</ion-option>
                        <ion-option value="CUERQUIS, MANUEL">DAHLEN, GARY</ion-option>
                        <ion-option value="DARUCA, KENITH">DARUCA, KENITH</ion-option>
                        <ion-option value="TABORADA, GEROME">TABORADA, GEROME</ion-option>
                        <ion-option value="DAVID, DONALD">DAVID, DONALD</ion-option>
                        <ion-option value="DE LA VEGA, RONALDO">DE LA VEGA, RONALDO</ion-option>

                        <ion-option value="DELOS SANTOS, FRANCISCO">DELOS SANTOS, FRANCISCO</ion-option>
                        <ion-option value="DIMACULANGAN, NOEL">DIMACULANGAN, NOEL</ion-option>
                        <ion-option value="DOMANICO, KEITH">DOMANICO, KEITH</ion-option>

                        <ion-option value="DONATO, JIMMY">DONATO, JIMMY</ion-option>
                        <ion-option value="EBUENGA, ROMMEL">EBUENGA, ROMMEL</ion-option>
                        <ion-option value="ERANA, MICHAEL">ERANA, MICHAEL</ion-option>

                        <ion-option value="ESPIRITU, ANTHONY">ESPIRITU, ANTHONY</ion-option>
                        <ion-option value="FALCON, MARY JANE">FALCON, MARY JANE</ion-option>
                        <ion-option value="FERNANDEZ, RODRIGO JR.">FERNANDEZ, RODRIGO JR.</ion-option>

                        <ion-option value="GAMBA, PURISIMO JR.">GAMBA, PURISIMO JR.</ion-option>
                        <ion-option value="GAW, AIRON">GAW, AIRON</ion-option>
                        <ion-option value="GO, MARLON">GO, MARLON</ion-option>

                        <ion-option value="GOMEZ, RENER">GOMEZ, RENER</ion-option>
                        <ion-option value="GUERZON, ADRIAN">GUERZON, ADRIAN</ion-option>
                        <ion-option value="HERMOSO, MICHAEL">HERMOSO, MICHAEL</ion-option>

                        <ion-option value="HERNANDEZ, JOSE">HERNANDEZ, JOSE</ion-option>
                        <ion-option value="INAJADA, LUCIO">INAJADA, LUCIO</ion-option>
                        <ion-option value="INOCANDO, EDWIN">INOCANDO, EDWIN</ion-option>

                        <ion-option value="ISADA, JOHN MARIO">ISADA, JOHN MARIO</ion-option>
                        <ion-option value="JABAAN, PEE JAY">JABAAN, PEE JAY</ion-option>
                        <ion-option value="JAKOSALEM, SEGUNDO JR.">JAKOSALEM, SEGUNDO JR.</ion-option>

                        <ion-option value="JAVIER, JAY">JAVIER, JAY</ion-option>
                        <ion-option value="JERESANO, DARWIN">JERESANO, DARWIN</ion-option>
                        <ion-option value="LASTIMOSA, ROY">LASTIMOSA, ROY</ion-option>

                        <ion-option value="LAYOSA, NICOLAS Alex">LAYOSA, NICOLAS Alex</ion-option>
                        <ion-option value="LAZARTE, DARRYL">LAZARTE, DARRYL</ion-option>
                        <ion-option value="LIM, EDUARDO">LIM, EDUARDO</ion-option>

                        <ion-option value="LLAVE, RUEL">LLAVE, RUEL</ion-option>
                        <ion-option value="LONTOC, RONALDO">LONTOC, RONALDO</ion-option>
                        <ion-option value="LUSTERIO, RODRIGO">LUSTERIO, RODRIGO</ion-option>

                        <ion-option value="MABAQUIAO, NOEL">MABAQUIAO, NOEL</ion-option>
                        <ion-option value="MACADAYA, JUNREY">MACADAYA, JUNREY</ion-option>
                        <ion-option value="MACARAIG, ELVIN">MACARAIG, ELVIN</ion-option>

                        <ion-option value="MACARANAS, JOSE">MACARANAS, JOSE</ion-option>
                        <ion-option value="MALTO , JOHN DARRYL">MALTO , JOHN DARRYL</ion-option>
                        <ion-option value="MARALIT JR., NELSON">MARALIT JR., NELSON</ion-option>

                        <ion-option value="MENDOZA, ISAGANI">MENDOZA, ISAGANI</ion-option>
                        <ion-option value="MERCADO, JOSE FREESERGS">MERCADO, JOSE FREESERGS</ion-option>
                        <ion-option value="MONATO, RONNEL VICTOR">MONATO, RONNEL VICTOR</ion-option>

                        <ion-option value="MONTALBO, ADRIANO GIL">MONTALBO, ADRIANO GIL</ion-option>
                        <ion-option value="NULO, ZENAIDA">NULO, ZENAIDA</ion-option>
                        <ion-option value="OLASIMAN, RANDY">OLASIMAN, RANDY</ion-option>

                        <ion-option value="OPIANO, NEIL">OPIANO, NEIL</ion-option>
                        <ion-option value="ORCULLO, GUILBERT">ORCULLO, GUILBERT</ion-option>
                        <ion-option value="ORJALO, JONATHAN">ORJALO, JONATHAN</ion-option>

                        <ion-option value="ORTEGA, DANILO">ORTEGA, DANILO</ion-option>
                        <ion-option value="PAGUIRIGAN, ARNOLD">PAGUIRIGAN, ARNOLD</ion-option>
                        <ion-option value="PANGAN, ALFONSO III">PANGAN, ALFONSO III</ion-option>

                        <ion-option value="PERALTA, ANTHONY">PERALTA, ANTHONY</ion-option>
                        <ion-option value="PERIA, EDWARDO">PERIA, EDWARDO</ion-option>
                        <ion-option value="PUNO , ALLAN JOHN">PUNO , ALLAN JOHN</ion-option>

                        <ion-option value="QUIDIP, POLICARPIO">QUIDIP, POLICARPIO</ion-option>
                        <ion-option value="RACELIS, JASON">RACELIS, JASON</ion-option>
                        <ion-option value="RAMIS, ANGELITO">RAMIS, ANGELITO</ion-option>

                        <ion-option value="REBULTAN, ELMER">REBULTAN, ELMER</ion-option>
                        <ion-option value="ROBIS, ALVIN">ROBIS, ALVIN</ion-option>
                        <ion-option value="ROMARATE, JASON">ROMARATE, JASON</ion-option>

                        <ion-option value="RONQUILLO, JOEL">RONQUILLO, JOEL</ion-option>
                        <ion-option value="ROSAL, GODOFREDO JR.">ROSAL, GODOFREDO JR.</ion-option>
                        <ion-option value="RUEDA, RAM KENNETH">RUEDA, RAM KENNETH</ion-option>

                        <ion-option value="SADJE, WINNIE">SADJE, WINNIE</ion-option>
                        <ion-option value="SANCHEZ, ARNOLD">SANCHEZ, ARNOLD</ion-option>
                        <ion-option value="SEGOVIA, MARK">SEGOVIA, MARK</ion-option>

                        <ion-option value="SEVILLA, DARWIN">SEVILLA, DARWIN</ion-option>
                        <ion-option value="SORREL, NORMAN">SORREL, NORMAN</ion-option>
                        <ion-option value="TALINGTING , ARIEL">TALINGTING , ARIEL</ion-option>

                        <ion-option value="TARLIT , ARGEL">TARLIT , ARGEL</ion-option>
                        <ion-option value="TAYAG, RUBEN">TAYAG, RUBEN</ion-option>
                        <ion-option value="PUNO , ALLAN JOHN">PUNO , ALLAN JOHN</ion-option>

                        <ion-option value="TEJANO, MARY ANN">TEJANO, MARY ANN</ion-option>
                        <ion-option value="TEODORO, ARTHUR">TEODORO, ARTHUR</ion-option>
                        <ion-option value="TOLEDO, EULOGIO">TOLEDO, EULOGIO</ion-option>

                        <ion-option value="TEJATOLEDO, RENATO">TEJATOLEDO, RENATO</ion-option>
                        <ion-option value="TORRECAMPO, JOEL">TORRECAMPO, JOEL</ion-option>
                        <ion-option value="TORRES, LOUIE">TORRES, LOUIE</ion-option>

                        <ion-option value="TUBAL , MICHAEL">TUBAL , MICHAEL</ion-option>
                        <ion-option value="USON, MICHAEL PATRICK">USON, MICHAEL PATRICK</ion-option>
                        <ion-option value="VERDAD, ARNOLD">VERDAD, ARNOLD</ion-option>

                        <ion-option value="VILLARUZ, KENN JOHN">VILLARUZ, KENN JOHN</ion-option>
                        <ion-option value="YMAS, JONELLE">YMAS, JONELLE</ion-option>
                        <ion-option value="YU , DONN EDWARD">YU , DONN EDWARD</ion-option>
                        <ion-option value="OTHER">OTHER</ion-option>
                    </ion-select>
                </ion-item>

            </div>

            <!-- </form> -->

            <div *ngIf="isDisplayTechnicianDetails">
                <ion-label class="label-title">Technician Details</ion-label>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Description (optional)</ion-label>
                    <ion-input type="text" class="input-text" formControlName="details"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">SR Technician Name</ion-label>
                    <ion-input type="text" class="input-text" formControlName="srTechName"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">SR Technician ID No.</ion-label>
                    <ion-input type="text" class="input-text" formControlName="srTechIdNum"></ion-input>
                </ion-item>

                <ion-item no-padding>
                    <ion-label floating class="input-label">Technician name</ion-label>
                    <ion-input type="text" class="input-text" formControlName="techName"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Technician ID no.</ion-label>
                    <ion-input type="text" class="input-text" formControlName="techIdNum"></ion-input>
                </ion-item>
            </div>

            <div *ngIf="isDisplayCustomerDetails">
                <ion-label class="label-title">Customer Details</ion-label>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Subscriber name</ion-label>
                    <ion-input type="text" class="input-text" formControlName="subsName"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Service no.</ion-label>
                    <ion-input type="text" class="input-text" formControlName="serviceNo"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Work order reference</ion-label>
                    <ion-input type="text" class="input-text" formControlName="workOrderRef"></ion-input>
                </ion-item>
                <br />
                <ion-col no-padding radio-group formControlName="activity">
                    <ion-row>
                        <ion-label style="font-size: 14px !important; font-weight: bold;">Activity</ion-label>
                    </ion-row>
                    <ion-row no-padding>
                        <ion-col>
                            <ion-item no-padding>
                                <ion-label>Install</ion-label>
                                <ion-radio value="install"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-padding>
                                <ion-label>Repair</ion-label>
                                <ion-radio value="repair"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Location (City)</ion-label>
                    <ion-input type="text" class="input-text" formControlName="location"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">If subscriber is not present, indicate name of representative</ion-label>
                    <ion-input type="text" class="input-text"formControlName="nameOfRepre"></ion-input>
                </ion-item>
                <ion-item no-padding>
                    <ion-label floating class="input-label">Relation to subscriber</ion-label>
                    <ion-input type="text" class="input-text" formControlName="relationToSubs"></ion-input>
                </ion-item>
            </div>

        </ion-scroll>
    </ion-content>

    <ion-footer no-shadow no-border>
        <ion-row>
            <button ion-button full type="submit" class="btn-submit">Next</button>
        </ion-row>
    </ion-footer>

</form>