<ion-header>
    <ion-navbar>
        <ion-title>Closing</ion-title>
    </ion-navbar>
</ion-header>>

<ion-content padding>

    <progress-bar [progress]="loadProgress"></progress-bar>

    <div>
        <ion-label style="font-size: 24px; font-weight: bold;">Step 6:</ion-label>
        <label style="font-size: 16px; font-weight: bold;">Thank the customer and educate about the aftersales support</label>
    </div>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the technician collect the correct fees (for collect & install)? (if applicable)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechCollectCorrectFees" >
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the technician help install and educate the customer about the Globe At Home app?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechHelpCustomer">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the technician provide leave behind material/ WiFi MD/ magnet? (if applicable)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechProvideMaterial">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the technician explain and had the Service Completion Form signed? (or Streamline if available) (if
                applicable)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechExplainService">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the technician ask, "Mayroon pa po ba akong maitutulong sa inyo?" prior to leaving?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechAsk">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="nextPage();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>