<ion-header>
    <ion-navbar>
        <ion-title>CFS Technician Attributes</ion-title>
    </ion-navbar>
</ion-header>>

<ion-content padding>

    <br>
    <label style="font-size: 18px; font-weight: bold;">Rate 1-5 with 5 being the highest if teams manifested the
        values.</label>

    <ion-item no-padding style="border-bottom: 0px;">
        <ion-label>Competency</ion-label>
        <ion-range min="1" max="5" [(ngModel)]="compentency">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>5</ion-label>
        </ion-range>
    </ion-item>

    <ion-item no-padding >
        <ion-label>Integrity</ion-label>
        <ion-range min="1" max="5" [(ngModel)]="integrity">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>5</ion-label>
        </ion-range>
    </ion-item>

    <ion-item no-padding >
        <ion-label>Malasakit</ion-label>
        <ion-range min="1" max="5" [(ngModel)]="malasakit">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>5</ion-label>
        </ion-range>
    </ion-item>

    <ion-item no-padding >
        <ion-label>Service Orientedness</ion-label>
        <ion-range min="1" max="5" [(ngModel)]="oritendness">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>5</ion-label>
        </ion-range>
    </ion-item>

    <ion-item no-padding >
        <ion-label>Eager to Learn</ion-label>
        <ion-range min="1" max="5" [(ngModel)]="eager">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>5</ion-label>
        </ion-range>
    </ion-item>

</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="nextPage();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>