<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div>
        <br><br>
        <label style="font-size: 24px; font-weight: bold;">Remarks</label><br>
        <label style="font-size: 16px;">Indicate outstanding or critical points both positive and for improvement.</label>
    </div>

    <form [formGroup]="surveyForms" (ngSubmit)="onSubmit()">

        <ion-item no-padding>
            <ion-label floating class="text-label">What went well</ion-label>
            <ion-input class="input-text" formControlName="whatWentWell"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label floating class="text-label">Points for improvement</ion-label>
            <ion-input class="input-text" formControlName="pointsForImprove"></ion-input>
        </ion-item>

        <ion-footer no-shadow no-border>
            <ion-row>
                <button ion-button full type="submit" class="btn-submit" [disabled]="!surveyForms.valid">Next</button>
            </ion-row>
        </ion-footer>
    </form>

</ion-content>