<ion-content padding class="success-content">
    <br>
    <ion-row justify-content-center align-items-center padding>
        <label style="font-size: 24px; font-weight:bold; color: white; text-align: center;">Thank you for your feedback!</label>
    </ion-row>

    <ion-row justify-content-center align-items-center>
        <ion-img style="background-color: transparent !important;" src="../../assets/imgs/globe_character.svg" width="200px"></ion-img>
    </ion-row>

    <ion-row padding justify-content-center align-items-center>
        <label style="font-size: 18px; color: white; font-weight:bold;">We appreciate your time and we honestly value your options.</label>
    </ion-row>
    <ion-row padding justify-content-center align-items-center>
        <label style="font-size: 18px; color: white; font-weight:bold;">Our goal is to make our clients happy, so we'll use the information you provided to that.</label>
    </ion-row>

</ion-content>

<ion-footer no-shadow no-border>
    <button ion-button full type="submit" style="font-weight: bold;" (click)="onDone()">DONE</button>
</ion-footer>