<ion-header>
    <ion-navbar>
        <ion-title>Installation/Repair</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <progress-bar [progress]="loadProgress"></progress-bar>

    <div>
        <br><br>
        <ion-label style="font-size: 24px; font-weight: bold;">Step 3:</ion-label>

        <label style="font-size: 16px; font-weight: bold;">Onboarding subscriber on activities and estimated time to
            complete. Perform outdoor and indoor install/repair activities.</label>
    </div>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Did the Senior technician provide an overview of</label>
    </div>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Outdoor activity and estimate time to complete?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isOutdoorComplete">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Indoor activity and estimate time to complete?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isIndoorComplete">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Was the install/repair team compliant with safety standards
            during the outdoor activities?</label>
    </div>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Wears a hard hat?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isWearsHardHat">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Wears safety belt and strap when climbing
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isWearSafety">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Uses safety cone when working outside, in the streets
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isUsesSafety">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Did the technician use the proper tools for installation /
            repair?</label>
    </div>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Krone puncher for jumpering
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isKronePuncher">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Laptop (not a smartphone) for speed testing
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isLaptopForTesting">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Other tools
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isOtherTools">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <br>
    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold">
                Was the indoor wiring properly and neatly laid out?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isIndoorWiringProperly">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-list>
    </ion-card>
    <br>
    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold">
                Was the technician able to complete the activity with a
                stable broadband connection delivering the subscribed speed?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechCompleteActivity">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <br>
    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold">
                Was the install/repair team methodical in completing the
                installation?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isInstallComplete">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <br>
    <ion-card class="step-cards">
        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold">
                Did the team tidy up the work area (pick up excess wires,
                modem box, etc)?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isDidTeamTidy">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="nextPage();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>