<ion-header>
    <ion-navbar>
        <ion-title>Advance call</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="cards-bg social-cards">

    <progress-bar [progress]="loadProgress"></progress-bar>

    <div>
        <br><br>
        <label class="title" style="color:grey; margin-top: 16px;">How's my team: </label>
        <label class="title">Technician observation form</label>
        <ion-label style="font-size: 24px; font-weight: bold;">Step 1:</ion-label>
        <ion-label style="font-size: 18px; font-weight: bold;">Was the subscriber informed of?</ion-label>
    </div>

    <form [formGroup]="surveyForms" (ngSubmit)="onSubmit()">

        <ion-card class="step-cards-date" (click)="toggleDateOfVisit();">

            <ion-card-content>
                <label no-lines no-padding class="steps-label">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                    Date of visit
                </label>
            </ion-card-content>

            <ion-list radio-group formControlName="dateOfVisit" *ngIf="isDisplayDateOfVisit">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>

        </ion-card>
        <ion-card class="step-cards-time" (click)="toggleTimeOfVisit();">

            <ion-card-content>
                <div class="item item-text-wrap">
                    <!-- <ion-list-header no-lines no-padding class="item item-text-wrap"> -->
                    <label no-lines no-padding class="steps-label">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Time of visit
                    </label>
                    <!-- </ion-list-header> -->
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="timeOfVisit" *ngIf="isDisplayTimeOfVisit">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="step-cards-eta" (click)="toggleEtaCaused();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding class="steps-label">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        New ETA and Caused of delay (if applicable)
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="EtaCaused" *ngIf="isDisplayEtaCaused">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="steps-card-fees" (click)="toggleAdvanceFee();">

            <ion-card-content>
                <div class="item item-text-wrap">
                    <label no-lines no-padding class="steps-label">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Advances fees to be collected
                        (if applicable)
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="advanceFee" *ngIf="isDisplayAdvanceFee">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="steps-card-last" (click)="toggleSMSSent();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding class="steps-label">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Was an SMS sent if the subscriber
                        cannot be reached
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="SMSSent" *ngIf="isDisplaySMSSent">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-footer no-shadow no-border>
            <ion-row>
                <button ion-button full type="submit" class="btn-submit">Next</button>
            </ion-row>
        </ion-footer>
    </form>
</ion-content>

<style>
    .social-cards ion-col {
        padding: 0;
    }
</style>