<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <img src="assets/imgs/globe_telecom_logo_detail.png" width="250" class="imgSplash"/>
        </ion-row>
        <ion-row justify-content-center align-items-center padding>
            <label>app version v0.0.1</label>
        </ion-row>
      </ion-grid>

</ion-content>
