<ion-content padding *ngIf="splash" id="custom-overlay">
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <img src="assets/imgs/globe_telecom_logo_detail.png" width="250" class="imgSplash" />
        </ion-row>
        <ion-row justify-content-center align-items-center padding>
            <label style="color: grey">app version 0.0.1</label>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="!splash">

    <ion-row style="padding-top: 32px;" justify-content-center align-items-center>
        <img src="assets/imgs/globe_telecom_logo_detail.png" width="250" class="imgSplash" />
    </ion-row>

    <form padding [formGroup]="formGroup" (ngSubmit)="onSubmit()" style="margin-top:32px;">

        <label class="title">Welcome to</label><br>
        <label class="title">the survery application</label>
        <ion-item no-padding>
            <ion-label floating class="input-label">Enter your fullname</ion-label>
            <ion-input type="text" class="text-input" formControlName="name"></ion-input>
        </ion-item>

        <ion-footer no-shadow no-border no-padding>
            <ion-row justify-content-center align-items-center padding>
                <label style="color: grey">app version 0.0.1</label>
            </ion-row>
            <button ion-button full type="submit" class="btn-submit" [disabled]="!formGroup.valid">Start
                Survey</button>
        </ion-footer>
    </form>

</ion-content>