<div>
    <div class="progress-outer">
        <div class="progress-inner" [style.width]="progress + '%'"></div>
    </div>
    <label style="margin-left: 8px;">{{ progress }}%  completed</label>
</div>