// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.title {
    font-size: 24px !important;
    font-weight: bold;
}

.input-text {
    font-size: 18px;
}

.input-label {
    color: #404040;
}

.label-title {
    font-size: 20px !important; 
    font-weight: bold;
}

.btn-submit{
    font-size: 18px; 
    font-weight: bold; 

    background: -webkit-gradient(left top, #036EB0, #5BA2B6);
    background: -o-linear-gradient(bottom right, #036EB0, #5BA2B6);
    background: -moz-linear-gradient(bottom right, #036EB0, #5BA2B6);
    background: linear-gradient(to bottom right, #036EB0, #5BA2B6);
}
