page-overall {
    .step-cards {
        margin-left: 0;
        margin-right: 0;
        border-radius: 16px;
        width: 100%;
    }

    .step-icons{
        font-size: 20px; 
        margin-right: 8px;
    }
    
}