<ion-header>
    <ion-navbar>
        <ion-title>Overall</ion-title>
    </ion-navbar>
</ion-header>>

<ion-content padding>

    <progress-bar [progress]="loadProgress"></progress-bar>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold;">
                Did the technician make use of the Customer Orientation Form (paper checklist)?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTechCustomerOrient">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Did the install team appear pleasant and trustworthy?</label>
    </div>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Senior
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isSenior">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Junior
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isJunior">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did they confidently engage with the subscriber for all the 6 Step by Step Process?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isDidStepByStep">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Install/Repair team was professional because: </label>
    </div>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                They are wearing prescribed uniforms and shoes: Clean and not foul smelling
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTheyWearingUniforms">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                They are well-groomed (well-kept hair, no beard or mustache, trimmed nails, no visible tattoo or
                piercing)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTheyWllGroomed">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                They used disposable slipper or shoe cover when entering the subscriber's premise
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTheyUsedSlipper">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Was the service vehicle clean with materials organized inside?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isServiceVehicleClean">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <br>
    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0; font-size: 16px; font-weight: bold;">
                Do the technicians manifest that they are indeed MAASAHAN because they know what to do and are willing
                to serve what is expected by the subscriber?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isTectManifestMaasahan">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="nextPage();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>