<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Redux Intro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let color of colorList$ | async">
    <div style="width: 100px;height: 100px" [style.backgroundColor]="color"></div>
  </div>

  <button ion-button (click)="addColors()">
    Add some colors
  </button>

  <button ion-button (click)="removeLastColor()">
    Remove last color
  </button>

</ion-content>
