<ion-header>
    <ion-navbar>
        <ion-title>Intro</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <progress-bar [progress]="loadProgress"></progress-bar>

    <div>
        <br><br>
        <label style="font-size: 16px; color:grey; margin-top: 16px;">How's my team: </label>
        <label style="font-size: 16px;">Technician observation form</label>
        <ion-label style="font-size: 24px; font-weight: bold;">Step 2:</ion-label>

        <label style="font-size: 18px; font-weight: bold;">Establishing identity and confirmation of Globe services
            availed of</label>
    </div>

    <form [formGroup]="surveyForms" (ngSubmit)="onSubmit()">

        <ion-card class="step-cards">

            <ion-card-content>
                <label no-lines no-padding class="steps-label">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                    Did the technician arrive based on the expected time of appointment?
                </label>
            </ion-card-content>

            <ion-list no-padding radio-group formControlName="isTechnicianArrived">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <div>
            <br><br>
            <label style="font-size: 18px; font-weight: bold;">Did the Senior technician introduce the team properly by</label>
        </div>

        <ion-card class="step-cards-first" (click)="toggleGreet();">

            <ion-card-content>
                <label no-lines no-padding class="steps-label">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                    Greeting the subscriber
                </label>
            </ion-card-content>

            <ion-list radio-group formControlName="isGreet" *ngIf="isDisplayGreet">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="step-cards-second" (click)="togglePresentID();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="margin: 0;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Presenting his Globe accredited ID
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isPresentID" *ngIf="isDisplayPresentID">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="steps-card-last" (click)="toggleSayName();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="margin: 0;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Saying his first and last name and his teammate's
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isSayName" *ngIf="isDisplaySayName">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
        <br>
        <ion-card class="step-cards">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="font-size: 18px; font-weight: bold;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Did the technician clearly state the purpose of the
                        visit?
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isTechVisit" style="background-color: transparent;">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <div>
            <br><br>
            <label style="font-size: 18px; font-weight: bold;">Did the Senior technician confirm the Globe services
                availed
                of</label>
        </div>

        <ion-card class="step-cards-first" (click)="togglePlan();">

            <ion-card-content>
                <label no-lines no-padding style=" margin: 0;">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                    Plan and Monthly Service Fee
                </label>
            </ion-card-content>

            <ion-list radio-group formControlName="isPlan" *ngIf="isDisplayPlan">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="step-cards-second" (click)="toggleData();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="margin: 0;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Data allowance
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isDataAllowance" *ngIf="isDisplayDataAllowance">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="step-cards-beforelast" (click)="toggleCollection();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="margin: 0;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Fees for collection and/or charge to bill (as applicable)
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isCollection" *ngIf="isDisplayCollection">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

        <ion-card class="step-card-last" (click)="toggleFreebies();">

            <ion-card-content id="first">
                <div class="item item-text-wrap">
                    <label no-lines no-padding style="margin: 0;">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                        Freebies (i.e. Netflix, HOOQ, Disney, etc.) (as applicable)
                    </label>
                </div>
            </ion-card-content>

            <ion-list radio-group formControlName="isFreebies" *ngIf="isDisplayFreebies">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>

                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>
    </form>
</ion-content>
<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="onSubmit();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>