page-intro {

    .step-cards {

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        border-radius: 16px;
        width: 100%;

        background: -webkit-gradient(left top, #D09D54, #C95348);
        background: -o-linear-gradient(bottom right, #D09D54, #C95348);
        background: -moz-linear-gradient(bottom right, #D09D54, #C95348);
        background: linear-gradient(to bottom right, #D09D54, #C95348);

    }

    .step-cards-first {

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        border-radius: 16px 16px 0px 0px;
        width: 100%;

        background-color: #D09D54;
    
    }

    .step-cards-second {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        width: 100%;

        background: -webkit-gradient(left top, #D09D54, #C95348);
        background: -o-linear-gradient(bottom right, #D09D54, #C95348);
        background: -moz-linear-gradient(bottom right, #D09D54, #C95348);
        background: linear-gradient(to bottom right, #D09D54, #C95348);
    }

    .step-cards-middle {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
    
        width: 100%;
        background-color: #C55364;
    }

    .step-card-beforelast {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        
        width: 100%;

        background-color: #C35578;
    }

    .step-card-last {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
        
        width: 100%;
        border-radius: 0px 0px 16px 16px;
        background-color: #C35578;
    }

    .steps-label{
        margin: 0; 
        color: white; 
        font-size: 16px; 
        font-weight: bold;
    }

    .step-icons{
        font-size: 24px; 
        margin-right: 8px;

        font-weight: bold;
    }
    
}