<ion-header>
    <ion-navbar>
        <ion-title>Content & Device</ion-title>
    </ion-navbar>
</ion-header>>

<ion-content padding>

    <progress-bar [progress]="loadProgress"></progress-bar>

    <div>
        <ion-label style="font-size: 24px; font-weight: bold;">Step 5:</ion-label>
        <label style="font-size: 16px; font-weight: bold;">Inform about freebies and conduct product demo</label>
    </div>

    <div>
        <br>
        <label style="font-size: 18px; font-weight: bold;">Did the technician educate subscriber about</label>
    </div>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Freebies included in the plan i.e. Netflix, Hooq, Disney (if applicable)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                How to activate (if applicable)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="NA" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards" (click)="toggleGreet();">

            <ion-card-content>
                <label no-lines no-padding style=" margin: 0;">
                    <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                    Set up device and conduct demo i.e. Roku, Android TV, Chromecast (if applicable)
                </label>
            </ion-card-content>
    
            <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Yes</ion-label>
                            <ion-radio value="Yes" checked="true"></ion-radio>
                        </ion-item>
                    </ion-col>
    
                    <ion-col>
                        <ion-item>
                            <ion-label>No</ion-label>
                            <ion-radio value="No" default></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>N/A</ion-label>
                            <ion-radio value="NA" default></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card>

    <div>
        <br><br>
        <label style="font-size: 18px; font-weight: bold;">Did the Senior Technician explain basic WiFi concepts using
            WiFi MD?</label>
    </div>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Placement of router/ modem
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Factors affecting WiFi signal (thick walls, distance, appliances)
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <ion-card class="step-cards" (click)="toggleGreet();">

        <ion-card-content>
            <label no-lines no-padding style=" margin: 0;">
                <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" class="step-icons"></ion-icon>
                Did the Senior Technician offer Airties to maximize WiFi coverage?
            </label>
        </ion-card-content>

        <ion-list radio-group [(ngModel)]="isGreet" *ngIf="isDisplayGreet">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Yes</ion-label>
                        <ion-radio value="Yes" checked="true"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>N/A</ion-label>
                        <ion-radio value="No" default></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col>
            <button ion-button full style="font-weight: bold;">Save</button>
        </ion-col>
        <ion-col>
            <button ion-button full style="font-weight: bold;" (click)="nextPage();">Next</button>
        </ion-col>
    </ion-row>
</ion-footer>